* {
    margin: 0;
    
    box-sizing: border-box;
    color: #eeeeee;
    font-family: 'Dosis';

}

@font-face {
    .dosis {
    font-family: "Dosis", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    }
}


nav > div {
    display: flex;
    align-items: center;
    

    padding: 1rem 0;
    gap: 1rem;
    
    
    
    font-size: 1.2rem;
    z-index: 3;
    width: 60%;

    max-width: 800px;
    margin: 0 auto;
}
nav {
    position: fixed;
    background-color: rgba(53, 53, 53, 0.4);
    backdrop-filter: blur(10px);
    width: 100%;
    top: 0;
}

.search-icon {
    background: url('./search.svg');
    cursor: pointer;
    width: 40px;
    height: 40px;
}
button {
    cursor: pointer;
    margin-left: auto;
    font-size: 1.5rem;
    border-radius: 25px;
    padding: .5rem 2rem;
    border: none;
    color: black;
    
}

input {
    border-radius: 15px;
    outline: none;
    font-size: 2rem;
    padding-left: 1ch;
    padding-bottom: .4rem;
    width: 50%;
    border: none;
    color: black;
}

.content-container {
    
    display: flex;
    flex-direction: column;
    
    gap: 2rem;
    padding-top: 10rem;
    padding-bottom: 10rem;
    
    background-color: #4D869C;
    background-image: linear-gradient(#FF7844, #1B1F3A);
    height: 100%;
    
}


.current-content {
    /* Image by <a href="https://pixabay.com/users/aalmeidah-4277022/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=8033597">Almeida</a> from <a href="https://pixabay.com//?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=8033597">Pixabay</a> */
    background-image: url('./sunset.png');
    background-size: cover;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    min-width: 370px;
    max-width: 60%;
    margin: 0 auto;
}
.current-details {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    background-color: rgba(53, 53, 53, 0.4);
    padding: 1rem;
    border-radius: 15px;
}
.location {
    font-size: 2rem;
    font-weight: 600;
}
.current-temp {
    font-size: 6rem;
    font-weight: 700;
}

.current-icon-desc {
    background-color: rgba(53, 53, 53, 0.4);
    padding: 1rem;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.current-desc {
    font-size: 2rem;
}
.content-title {
    font-size: 2rem;
    font-weight: 800;
    width: 60%;
    margin: 0 auto;
    margin-bottom: 1rem;
    max-width: 800px;
}

.content-cards-container {
    min-width: 370px;
    width: 60%;
    margin: 0 auto;
    padding: 7rem 5rem;
    border-radius: 15px;
    max-width: 800px;
    background-color: rgba(53, 53, 53, 0.4);
}
.daily-content {
    text-align: center;
}

.last-container {
    margin-bottom: 3rem;
}