* {
    margin: 0;
    
    box-sizing: border-box;
    color: #eeeeee;
    font-family: 'Dosis';

}

@font-face {
    .dosis {
    font-family: "Dosis", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    }
}


nav > div {
    display: flex;
    align-items: center;
    

    padding: 1rem 0;
    gap: 1rem;
    
    
    
    font-size: 1.2rem;
    z-index: 3;
    width: 60%;

    max-width: 800px;
    margin: 0 auto;
}
nav {
    position: fixed;
    background-color: rgba(53, 53, 53, 0.4);
    backdrop-filter: blur(10px);
    width: 100%;
    top: 0;
}

.search-icon {
    background: url('./search.svg');
    cursor: pointer;
    width: 40px;
    height: 40px;
}
button {
    cursor: pointer;
    margin-left: auto;
    font-size: 1.5rem;
    border-radius: 25px;
    padding: .5rem 2rem;
    border: none;
    color: black;
    
}

input {
    border-radius: 15px;
    outline: none;
    font-size: 2rem;
    padding-left: 1ch;
    padding-bottom: .4rem;
    width: 50%;
    border: none;
    color: black;
}

.content-container {
    z-index: 0;
    display: flex;
    flex-direction: column;
    
    gap: 2rem;
    padding-top: 10rem;
    padding-bottom: 10rem;
    
    background-color: #4D869C;
    background-image: linear-gradient(#da673a, #1B1F3A);
    
    height: 100%;
    
}


.current-content {
    /* Image by <a href="https://pixabay.com/users/aalmeidah-4277022/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=8033597">Almeida</a> from <a href="https://pixabay.com//?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=8033597">Pixabay</a> */
    /* Image by <a href="https://pixabay.com/users/alanajordan-25247407/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=8842379">Alana Jordan</a> from <a href="https://pixabay.com//?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=8842379">Pixabay</a> */
    /* Image by <a href="https://pixabay.com/users/kyra_starr-23387830/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=8205354">Kyra Starr</a> from <a href="https://pixabay.com//?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=8205354">Pixabay</a> */
    /* Image by <a href="https://pixabay.com/users/riki32-8327183/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=7249528">Riki32</a> from <a href="https://pixabay.com//?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=7249528">Pixabay</a> */
    /* Image by <a href="https://pixabay.com/users/aalmeidah-4277022/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=7191822">Almeida</a> from <a href="https://pixabay.com//?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=7191822">Pixabay</a> */
    /* Image by <a href="https://pixabay.com/users/aalmeidah-4277022/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=7191822">Almeida</a> from <a href="https://pixabay.com//?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=7191822">Pixabay</a> */
    background-image: url('./sunset.png');
    background-size: cover;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    min-width: 370px;
    max-width: 60%;
    margin: 0 auto;
}
.current-details {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    background-color: rgba(44, 44, 44, 0.548);
    padding: 1rem;
    border-radius: 15px;
}
.location {
    font-size: 2rem;
    font-weight: 600;
}
.current-temp {
    font-size: 6rem;
    font-weight: 700;
}
.date {
    font-size: 1.3rem;
}
.current-icon {
    
    height: 10rem;
    border: none;
    width: 10rem;
}

.current-icon-desc {
    background-color: rgba(44, 44, 44, 0.548);
    padding: 1rem;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.current-desc {
    font-size: 2rem;
    max-width: 10rem;
    text-align: center;
}
.content-title {
    font-size: 2rem;
    font-weight: 800;
    width: 60%;
    margin: 0 auto;
    margin-bottom: 1rem;
    max-width: 800px;
}

.content-cards-container {
    min-width: 370px;
    width: 60%;
    margin: 0 auto;
    padding: 7rem 5rem;
    border-radius: 15px;
    max-width: 800px;
    background-color: rgba(53, 53, 53, 0.4);
}
.daily-content {
    font-size: 1.7rem;
    display: flex;
    justify-content: space-between;
    
    text-align: center;
}
.daily-cards {
    
    display: flex;
    flex-basis: 10rem;
    align-items: center;
    flex-direction: column;
    flex-shrink: 1;
    gap: 1rem;
    
    
}
.daily-forecast-container {
    display: flex;
    flex-direction: column;
}
.last-container {
    margin-bottom: 3rem;
}
.hourly-card {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    align-items: center;
    border-bottom: 1px solid whitesmoke;
    border-top: 1px solid whitesmoke;
    padding: 1rem 0;
    grid-column: 0 / 8;
}

.rainy-icon {
    width: 25px;
    height: 25px;
    background-image: url('./rainy.svg');
    
}

.wind-icon {
    width: 25px;
    height: 25px;
    background-image: url('./wind.svg');
    
}

.loader, .loader2, .loader3 {
    display: none;
    position: absolute;
    text-align: center;
    z-index: 1;
    left: 47%;
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #555; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    margin-top: auto;
    margin-bottom: auto;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
}

.loader2 {
    margin-top: 11%;
}

.loader3{
    margin-top: 10%;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }



 
